:root{
    --color-White: #FFF;
    --color-SkyBlue: #ECF4FF;
    --color-Blue: #0D63F3;
    --color-Black: #1E1E1E;
    --color-Grey: #6C757D;
    --color-Primary: #E4E7EE;
    --bg-White: #FFF;
    --bg-Blue: #0D63F3;
}